html {    
    height: 100%;
}
body {
    /*background-image: linear-gradient(to bottom,#0066FF 0,#000000 100%);*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(to bottom,#0066FF 0,#000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(to bottom,#0066FF 0,#000000 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(to bottom,#0066FF 0,#000000 100%);
    /* IE10+ */
    background: -o-linear-gradient(to bottom,#0066FF 0,#000000 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom,#0066FF 0,#000000 100%);
    /* W3C */
    color: #FFFFFF;
    width: 100%;
    min-height: 100%;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*margin-top:0;*/
}

h1 {
    color:#FFFF66;
}
h2,h3,h4,h5,h6 {
    color:#FFFFFF;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

input {
    color:#000000;
}

.table td {
   text-align: center;   
}

.table th {
   text-align: center;   
}

@import url('http://fonts.googleapis.com/css?family=Oxygen');
/*
 * Table styles
 */
.oneTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Oxygen', sans-serif;
  text-align:center;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
  color:#D3D3D3;
}

.oneTable thead th,
.oneTable thead td {
  color: #D00000;
  padding: 10px 18px;
  /*background-color:#181818;*/
}

.oneTable tbody th,
.oneTable tbody td {
  padding: 8px 10px;
  border-bottom: 1px solid #FFFFFF;
  background-color:#080808;
}

/* navbar */
.navbar-default {
background-color: #000000;
width: 100%;
border:0;

}
/* title */
.navbar-default .navbar-brand {
    color: #FFFFFF;
;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #428bca;
}

.navbar-fixed-bottom {
    background-color: #181818;
}

.dropdown-menu {
    background-color: #181818;
}
.dropdown-menu>li>a {
    color:#D00000;
}

.formTable {

    border-collapse: separate;
    border-spacing: 10px;
}

/*The footer navbar*/
#THEBOTTOM {
    border-top: 1px solid #222222;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color:#181818;
    color:#0066FF;
}

/* The body div */
#content {
    min-height: 100%;
}
