html {    
    background-color:#0066FF;
    /*url('/static/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;*/
}
body {
background-color:#0066FF;
color: #FFFFFF;
/*margin-top:0;*/
}

.center {
text-align:center
}

td {
    text-align: center;
}

th {
    text-align: center;
}

.table td {
   text-align: center;   
}

.table th {
   text-align: center;   
}


